<mat-card>
  <mat-card-title> Alterar produto </mat-card-title>

  <!-- formulario -->
  <form method="post">
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="product.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Price (R$)"
        [(ngModel)]="product.price"
        name="price"
      />
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="updateProduct()">
        Save
      </button>

      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <!-- botoes -->
</mat-card>
