<mat-card>
  <mat-card-title> Excluir produto </mat-card-title>

  <!-- formulario -->
  <form method="post">
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [value]="product.name"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Price (R$)"
        [value]="product.price"
        name="price"
        disabled
      />
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button color="warn" (click)="deleteProduct()">
        Delete
      </button>

      <button mat-raised-button (click)="cancel()">cancel</button>
    </div>
  </form>

  <!-- botoes -->
</mat-card>
